/**
*   @file icon.css
*/
.icon {
    display: inline-block;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
}

@media screen and (max-width: 299px) {
    .icon {
        background-image:  url(../img/icons_viewport_300.png);
    }
}

@media screen and (min-width: 300px) and (max-width: 319px) {
    .icon {
        background-image:  url(../img/icons_viewport_300.png);
    }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
    .icon {
        background-image:  url(../img/icons_viewport_320.png);
    }
}

@media screen and (min-width: 360px) and (max-width: 413px) {
    .icon {
        background-image:  url(../img/icons_viewport_384.png);
    }
}

@media screen and (min-width: 414px) and (max-width: 639px) {
    .icon {
        background-image:  url(../img/icons_viewport_414.png);
    }
}

@media screen and (min-width: 640px) and (max-width: 1279px){
    .icon {
        background-image:  url(../img/icons_viewport_640.png);
    }
}

@media screen and (min-width: 640px) and (min-width: 1280px){
    .icon {
        background-image:  url(../img/icons_viewport_640.png);
    }
}
/*  绿色向上的箭头图标  */
.icon-arrow-top-green {
	width: 0.8rem;
	height: 0.9rem;
}
/*  黑色文本图标  */
.icon-text-black {
	width: 0.7rem;
	height: 1rem;
	background-position: 0 -1rem;
}
/*  黑色电话图标  */
.icon-call-black {
	width: 1.15rem;
	height: 1.15rem;
	background-position: 0 -1.9rem;
}
/*  黑色“险”字图标  */
.icon-xian-black {
	width: 1.2rem;
	height: 1.1rem;
	background-position: 0 -3.05rem;
}
/*  黑色扳手图标  */
.icon-spanner-black {
	width: 1rem;
	height: 1rem;
	background-position: 0 -4.15rem;
}
/*  蓝色电话图标  */
.icon-call-blue {
	width: 1.2rem;
	height: 1.2rem;
	background-position: 0 -5.15rem;
}
/*  蓝色头像图标  */
.icon-people-blue {
	width: 1.3rem;
	height: 1.15rem;
	background-position: 0 -6.35rem;
}
/*  蓝色标注定位图标  */
.icon-location-blue {
	width: 0.75rem;
	height: 1rem;
	background-position: 0 -7.5rem;
}
/*  绿色电话图标  */
.icon-call-green {
	width: 1.4rem;
	height: 1.4rem;
	background-position: 0 -8.5rem;
}
/*  黑色倒三角图标  */
.icon-triangle-black {
	width: 0.5rem;
	height: 0.45rem;
	background-position: -1.4rem 0;
}
/*  黑色铅笔图标  */
.icon-pen-black {
	width: 1rem;
	height: 1rem;
	background-position: -1.4rem -0.9rem;
}
/*  橘黄色汽车图标  */
.icon-car-orange {
	width: 1.2rem;
	height: 1.05rem;
	background-position: -1.4rem -1.9rem;
}
/*  蓝色铅笔图标  */
.icon-pen-blue {
	width: 1.1rem;
	height: 1.1rem;
	background-position: -1.4rem -3.05rem;
}
/*  蓝色“号”字图标  */
.icon-hao-blue {
	width: 1rem;
	height: 1rem;
	background-position: -1.4rem -4.15rem;
}
/*  等待图标  */
.icon-wait {
	width: 0.8rem;
	height: 1rem;
	background-position: -1.4rem -7.5rem;
}
/*  钟表图标  */
.icon-clock {
	width: 1.5rem;
	height: 1.5rem;
	background-position: -1.4rem -8.5rem;
}
/*  绿色标注定位图标  */
.icon-location-green {
	width: 1.2rem;
	height: 1.25rem;
	background-position: -2.9rem 0; 
}
/*  灰色标注定位图标  */
.icon-location-gray {
	width: 0.85rem;
	height: 1.2rem;
	background-position: -2.9rem -1.3rem;
}
/*  标注距离图标  */
.icon-distance {
	width: 1.15rem;
	height: 1.15rem;
	background-position: -2.9rem -4.1rem;
}
/*  齿轮图标  */
.icon-gear {
	width: 1.2rem;
	height: 1.2rem;
	background-position: -2.9rem -5.15rem;
}
/*  业绩柱状图图标  */
.icon-histogram {
	width: 1.2rem;
	height: 1.2rem;
	background-position: -2.9rem -8.8rem;
}
/*  白色声音图标  */
.icon-sound-white {
	width: 0.65rem;
	height: 1.25rem;
	background-position: -4.1rem -5.15rem;
}
/*  白色圆点状图标  */
.icon-dot-white {
	width: 1.6rem;
	height: 0.35rem;
	background-position: -4.1rem -7.5rem;
}
/*  向下箭头圆形图标  */
.icon-cicle-down {
	width: 1.6rem;
	height: 1.6rem;
	background-position: -4.1rem -8.4rem; 
}
/*  向右箭头圆形图标  */
.icon-cicle-right {
	width: 1.2rem;
	height: 1.2rem;
	background-position: -5.7rem -8.4rem;
}
/*  白色向左箭头图标  */
.icon-arrow-left-white {
	width: 1rem;
	height: 1.6rem;
	background-position: -7.3rem -8.4rem;
}
/*  灰色向右箭头图标  */
.icon-arrow-right-gray {
	width: 0.85rem;
	height: 1.6rem;
	background-position: -8.25rem -8.4rem;
}
/*  白色向上箭头图标  */
.icon-arrow-top-white {
	width: 1.75rem;
	height: 1.15rem;
	background-position: -8.2rem -8.9rem;
}
/*  白色菜单图标  */
.icon-menu-white {
	width: 1.65rem;
	height: 1.4rem;
	background-position: -11rem -8.7rem;
}
/*  白色搜索图标  */
.icon-search-white {
	width: 1.4rem;
	height: 1.4rem;
	background-position: -12.65rem -8.6rem;
}
/*  紫色预约查勘时间图标  */
.icon-pretime-purple {
	width: 1.6rem;
	height: 1.6rem;
	background-position: -4.1rem 0;
}
	
	