
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont">&#xe630;</i>
                    <div class="name">iconfont-square</div>
                    <div class="code">&amp;#xe630;</div>
                    <div class="fontclass">.square</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62e;</i>
                    <div class="name">iconfont-certificate</div>
                    <div class="code">&amp;#xe62e;</div>
                    <div class="fontclass">.certificate</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62c;</i>
                    <div class="name">iconfont-rmb</div>
                    <div class="code">&amp;#xe62c;</div>
                    <div class="fontclass">.rmb</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62d;</i>
                    <div class="name">success</div>
                    <div class="code">&amp;#xe62d;</div>
                    <div class="fontclass">.success</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62a;</i>
                    <div class="name">iconfont-accountant</div>
                    <div class="code">&amp;#xe62a;</div>
                    <div class="fontclass">.accountant</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62b;</i>
                    <div class="name">iconfont-close</div>
                    <div class="code">&amp;#xe62b;</div>
                    <div class="fontclass">.close</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe628;</i>
                    <div class="name">iconfont-lock</div>
                    <div class="code">&amp;#xe628;</div>
                    <div class="fontclass">.lock</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe629;</i>
                    <div class="name">iconfont-user</div>
                    <div class="code">&amp;#xe629;</div>
                    <div class="fontclass">.user</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe61f;</i>
                    <div class="name">iconfont-0101</div>
                    <div class="code">&amp;#xe61f;</div>
                    <div class="fontclass">.fly</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe61e;</i>
                    <div class="name">iconfont-iconperson</div>
                    <div class="code">&amp;#xe61e;</div>
                    <div class="fontclass">.username</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe620;</i>
                    <div class="name">phone-no</div>
                    <div class="code">&amp;#xe620;</div>
                    <div class="fontclass">.phone-no</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe622;</i>
                    <div class="name">arrow-left</div>
                    <div class="code">&amp;#xe622;</div>
                    <div class="fontclass">.arrow-left</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe623;</i>
                    <div class="name">arrow-right</div>
                    <div class="code">&amp;#xe623;</div>
                    <div class="fontclass">.arrow-right</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe625;</i>
                    <div class="name">check-square</div>
                    <div class="code">&amp;#xe625;</div>
                    <div class="fontclass">.check-square</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe626;</i>
                    <div class="name">iconfont-contacts</div>
                    <div class="code">&amp;#xe626;</div>
                    <div class="fontclass">.contacts</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe627;</i>
                    <div class="name">iconfont-key</div>
                    <div class="code">&amp;#xe627;</div>
                    <div class="fontclass">.key</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe61d;</i>
                    <div class="name">iconfont-card</div>
                    <div class="code">&amp;#xe61d;</div>
                    <div class="fontclass">.card</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe61b;</i>
                    <div class="name">iconfont-calender</div>
                    <div class="code">&amp;#xe61b;</div>
                    <div class="fontclass">.calender</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe61a;</i>
                    <div class="name">iconfont-left</div>
                    <div class="code">&amp;#xe61a;</div>
                    <div class="fontclass">.left-triangle</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe619;</i>
                    <div class="name">iconfont-clock</div>
                    <div class="code">&amp;#xe619;</div>
                    <div class="fontclass">.clock</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe617;</i>
                    <div class="name">iconfont-help</div>
                    <div class="code">&amp;#xe617;</div>
                    <div class="fontclass">.help</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe618;</i>
                    <div class="name">iconfont-iphone</div>
                    <div class="code">&amp;#xe618;</div>
                    <div class="fontclass">.iphone</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe616;</i>
                    <div class="name">iconfont-weixin</div>
                    <div class="code">&amp;#xe616;</div>
                    <div class="fontclass">.weixin</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe600;</i>
                    <div class="name">iconfont-circle-check</div>
                    <div class="code">&amp;#xe600;</div>
                    <div class="fontclass">.circle-check</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe60a;</i>
                    <div class="name">icon-account</div>
                    <div class="code">&amp;#xe60a;</div>
                    <div class="fontclass">.account</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe611;</i>
                    <div class="name">icon-wx-share</div>
                    <div class="code">&amp;#xe611;</div>
                    <div class="fontclass">.wx-share</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe612;</i>
                    <div class="name">icon-share</div>
                    <div class="code">&amp;#xe612;</div>
                    <div class="fontclass">.share</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62f;</i>
                    <div class="name">iconfont-money-bag</div>
                    <div class="code">&amp;#xe62f;</div>
                    <div class="fontclass">.money-bag</div>
                </li>
            
        </ul>


        <div class="helps">
            第一步：使用font-face声明字体
            <pre>
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
</pre>
第二步：定义使用iconfont的样式
            <pre>
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
</pre>
第三步：挑选相应图标并获取字体编码，应用于页面
<pre>
&lt;i class="iconfont"&gt;&amp;#x33;&lt;/i&gt;
</pre>
        </div>

    </div>
</body>
</html>
